<div class="view2">
    <div>${name}</div>
    <div>${template}</div>
    <div>${nls.app_string}</div>
    <div><a href="${nls.locale_link}">${nls.locale_link}</a></div>
    <button  onclick="
                     var tran;
                     event.target.dispatchEvent(new CustomEvent('startTransition', {
                                                'bubbles':true,
                                                'detail':   {
                                                            target: 'view1',
                                                            url: '#view1',
                                                            transitionDir: -1
                                                        }
                                                }));
                    ">
    <-View1</button>
</div>
