<div class="view view2">
    <button onclick="event.target.dispatchEvent(new CustomEvent('startTransition', {
                                                'bubbles':true,
                                                'cancelable':true,
                                                'detail':   {
                                                            target: 'view1',
                                                            url: '#view1',
                                                            transitionDir: -1
                                                        }
                                                }));"
    >
    Back with raw js event.target.dispatchEvent()
    </button>

    <button onclick="App.transitionToView(event.target, {
                                                            'target': 'view1',
                                                            'url': '#view1',
                                                            'transitionDir': -1
                                                        }, event);">
    Back with App.transitionToView()
    </button>

    <div>${name}</div>
    <div>${template}</div>
    <div>${nls.app_string}</div>
</div>
