<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dojox/App Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../<%= bowerComponents %>/dojox/mobile/themes/custom/custom.css">
    <link rel="stylesheet" href="app/views/css/app.css">
</head>
<body>
    <!-- Example on showing how to support multiple locales, only for testing purposes
         http://localhost:8080/src/index.html?locale=es-es
    -->
    <script>
    var dojoConfig = {
        // look for a locale=xx query string param, else default to 'en-us'
        locale: location.search.match(/locale=([\w\-]+)/) ? RegExp.$1 : "en-us"
    };
    </script>
    <!-- Source/Development/not build/ -->
    <script type="text/javascript"
            src="../<%= bowerComponents %>/dojo/dojo.js"
            data-dojo-config="async: true, isDebug: true,
            baseUrl: '../',
            paths: {
                'app': 'src/app',
                'dojo': '<%= bowerComponents %>/dojo',
                'dojox': '<%= bowerComponents %>/dojox',
                'dijit': '<%= bowerComponents %>/dijit'
            }">
    </script>
    <!-- Compile/Distribution/built
    <script type="text/javascript"
            src="dojo/dojo.js"
            data-dojo-config="async: true, isDebug: false">
    </script>
    -->
    <script type="text/javascript">
        require([ 'app/main' ]);
    </script>
</body>
</html>
