<div>
    <div class="navPane" data-app-constraint="top">
        <select id="sel1" onchange="(function changeTheme(){location.replace('?theme='+event.target.value);}())"> 
            <option value="">Switch Theme</option>
            <option value="iPhone">iPhone</option>
            <option value="iPad">iPad</option>
            <option value="Android">Android</option>
            <option value="Holodark">Holodark</option>
            <option value="BlackBerry">BlackBerry</option>
            <option value="WindowsPhone">WindowsPhone</option>
            <option value="Custom">Custom</option>
	    </select>
        <br>
        <div>${nls.app_template_title}</div>
        <div>${nls.app_string}</div>
    </div>

</div>
